html {
  text-align: center;
  background: url('https://www.wallpaperup.com/uploads/wallpapers/2013/12/15/196200/f2c43e4304abcbd78e81c243a33bfb54-1000.jpg? w=1920&h=1080');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  width: 100vw;
  height: 100vh;
}
